* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
}

p, a, button, input, select, textarea {
  font-family: "Roboto", sans-serif; 
}