:root {
  --cor-0: #ffffff;
  --cor-1: #f7f7f7;
  --cor-2: #e0e0e0;
  --cor-3: #d1d1d1;
  --cor-4: #b8b8b8;
  --cor-5: #a3a3a3;
  --cor-6: #7a7a7a;
  --cor-7: #525252;
  --cor-8: #424242;
  --cor-9: #2e2e2e;
  --cor-10: #1f1f1f;
  --cor-11: #121212;
  --cor-12: #000000;
  --cor-p1: #DE7325;
  --cor-p2: #D46310;
  --cor-p3: #B0520E;
  --cor-p4: #91430A;
  --cor-p5: #712605;
}

